<footer>
    <div class="social">Find us on Social Media:
        <a href="#"><i class="fa-brands fa-square-twitter fa-lg"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
    </div>
    &copy; 2023 Pets-R-Us Parkville, Missouri. All rights reserved.<br>
    Images provided by https://unsplash.com/
</footer>

</body>
</html>