<footer>
    <div class="social">
        <a href="#"></span><i class="fa-brands fa-square-twitter fa-lg"></i></a>
        <a href="#"><i class="fa-brands fa-square-facebook fa-lg"></i></a>
        <a href="#"><i class="fa-brands fa-square-instagram fa-lg"></i></a>
    </div>
    <div class="float-container">
        <div>
            <p><i class="fa-solid fa-shop"></i> Cooper Street
                <p>3531 Cooper</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid black; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><i class="fa-solid fa-shop"></i> Medill Street
                <p>1422 Medill</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid black; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><b>Monday - Friday:</b> 6am - 8pm</p>
            <p><b>Saturday:</b> 8am - 7pm</p>
            <p><b>Sunday:</b> 10am - 6pm</p>
        </div>
        <div>
            <p><i class="fa-solid fa-square-phone"></i> 1-888-867-PETS</p>
        </div>
    </div>


    <br>
    &copy; 2023 Pets-R-Us Parkville, Missouri. All rights reserved.<br>
    Images provided by https://unsplash.com/
</footer>

</body>
</html>