<nav>
    <div class="topnav">
        <a href="/">Home</a>
        <div class="dropdown">
            <button class="dropbtn">Services
                <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
                <a href="/boarding">Boarding</a>
                <a href="/grooming">Grooming</a>
                <a href="/training">Training</a>
            </div>
        </div>
        <a href="/customers">Customers</a>
        <a href="/booking">Booking</a>
        <a href="/my-appointments">My Appointments</a>
    </div>
</nav>