<!-- 
======================================
; Title: Assignment 5.2 Pets-R-Us
; Author: Professor Kumar
; Date: April 11, 2023
; Modified By: Jennifer Hoitenga
; Description: Creating a website for Pets-R-Us
; Sources Used: 
; Bellevue University Web Dev GitHub: https://github.com/buwebdev/web-340/tree/master/week-4
; Node.js Setup using Express, HTML, CSS, JS & EJS: https://www.youtube.com/watch?v=A01KtJTv1oc
;=====================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Boarding</title>
</head>
<body>
    <!-- Calling the navigation bar -->
    <%- include('./partials/_navbar.ejs') %>

    <!-- Calling the header -->
    <%- include('./partials/_header.ejs') %>
    <br>
    <hr>
    <br>
    <div>
        <h3>Boarding</h3>
        <p>Let us provide your dog with their home away from home with one of our premium dog boarding options. Our rooms are spacious, well ventilated and super clean. Our boarding includes all of your pet’s potty breaks, feeding and any medications they might need while staying with us!</p>
        <h4>AWARD-WINNING ACCOMMODATIONS</h4>
        <p>Each visitor stays in an individual, climate-controlled room with all the comforts of home (and then some). We have rooms for dogs of all sizes and inclinations, including platinum suites with elevated bedding. Particularly shy or anxious dogs might take advantage of our special calming rooms offering greater peacefulness.</p>
    </div>
    <br>
    <div>
        <div class="boarding-image">
            <img src="images/sleeping.jpg" alt="Dog Sleeping" style="width: 400px">
        </div>

        <div class="boarding">
            <p>Here are some of the ways we ensure your dog is well-cared for:
                <ul>
                    <li> Comprehensive five-point wellness checks</li>
                    <li> Fluffy, freshly-laundered fleece bedding</li>
                    <li> We recommend keeping your pet on his or her usual diet. However, we offer Science Diet at no additional charge.</li>
                    <li> Continuous fresh, cold water in every suite</li>
                    <li> Four outdoor elimination breaks each day</li>
                </ul>
            </p>
        </div>
    </div>

    <div>
        <div class="boarding-space">
            <p></p>
        </div>
    </div>

    <br>
    <br>
    <hr>
    <br>

    <div class="price-card">
        <h4>Our Price List</h4>
        <ul>
            <li> 1 dog up to 5 nights: $30 per night</li>
            <li> 1 dog 5 nights or over: $25 per night</li>
            <li> 2 dogs up to 5 nights: $55 per night</li>
            <li> 2 dogs 5 nights or over: $45 per night</li>
            <li> 3 dogs up to 5 nights: $75 per night</li>
            <li> 3 dogs 5 nights or over: $70 per night</li>
        </ul>
    </div>
    
    <br>
    <p>Your dog is your family and Pets-R-Us understands that. As dog lovers ourselves, we take your dog’s care very seriously. We are here to provide love and support for your furry family member while you are away—filling that gap as best we can until your return.</p>
    
    <br>
    <p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>

        
    <!-- Calling the footer -->
    <%- include('./partials/_footer.ejs') %>
    
    </body>
    </html>