<!-- 
======================================
; Title: Assignment 4.2 Pets-R-Us
; Author: Professor Kumar
; Date: April 4, 2023
; Modified By: Jennifer Hoitenga
; Description: Experimenting with JavaScript by creating an application called Restaurant App.
; Sources Used: 
; Bellevue University Web Dev GitHub: https://github.com/buwebdev/web-340/tree/master/week-4
; Node.js Setup using Express, HTML, CSS, JS & EJS: https://www.youtube.com/watch?v=A01KtJTv1oc
;=====================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Grooming</title>
</head>
<body>

    <header>
        <nav>
            <div class="grooming-image">
                <div class="container">
                  <div class="topnav">
                    <a href="/">Home</a>
                    <div class="dropdown">
                        <button class="dropbtn">Services
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Boarding</a>
                            <a href="#">Grooming</a>
                            <a href="#">Training</a>
                        </div>
                    </div>
                    <a href="">Customers</a>
                    <a href="">Booking</a>
                    <a href="">My Appointments</a>
                  </div>
                  <div>
                    <p class="logo1"></p>
                    <p class="logo2"></p>
                    <p class="logo3"></p>
                </div>
                </div>
            </div>
        </nav>
    </header>

    <br>
    <hr>
    <br>
    <div>
        <h3>Grooming</h3>
        <p>Pets-R-Us is happy to provide bathing services that will leave your pup looking and smelling their best. Bathing them on your own is often time-consuming, exhausting, messy, and stressful for both you and your four-legged family member. Rather than trying to do the job yourself after a long, tiring day, why not let us take care of it. With dog grooming areas specially designed for your pup’s comfort, Pets-R-Us can take this off your to-do list. </p> 
        <p>We offer a full menu of outstanding grooming services for the discerning type. Or just a shampoo and set. You decide, but know it will be completed with the utmost of care.</p>
        <br>
        <hr>
        <br>
        <h3>Our Spa Packages</h3>
        <p>Luxurious and spa package options from staff that truly cares for your pup:</p>
        <p><b>Complete Bundle</b><br>Includes Hydro-Surge bath, full body haircut, nail trim, anal gland check, ear/eye cleaning, bow/bandana, & cologne.</p>
        <p><b>Basic Bundle</b><br>Includes Hydro-Surge bath, nail trim, anal gland check, ear/eye cleaning, trim around face, feet, and sanitary area, bow/bandana, & cologne.</p>
        <p><b>Bath Bundle</b><br>Includes Hydro-Surge bath, blow dry, thorough brush out, nail trim, bow/bandana, & cologne.</p>

        <div class="price-card">
        <h4>Our Price List</h4>
        <ul>
                <li> Spa Packages: $35 - $54</li>
                <li> Nail Grind: $20</li>
                <li> Nail Trim: $12</li>
                <li> Face Trim: $10</li>
                <li> Ear Cleaning: $5</li>
                <li> Teeth Brushing: $5</li>
        </ul>
        <p>All pricing is dependent on size and coat condition of your pet. Give us a call to schedule your pup’s pampering!</p>
        </div>
        <br>
        <p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>
    </div>



    <footer>
        Images provided by https://unsplash.com/
    </footer>
</body>
</html>