<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Grooming</title>
</head>
<body>

    <header>
        <nav>
            <div class="grooming-image">
                <div class="container">
                  <div class="topnav">
                    <a href="/">Home</a>
                    <div class="dropdown">
                        <button class="dropbtn">Services
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Boarding</a>
                            <a href="#">Grooming</a>
                            <a href="#">Training</a>
                        </div>
                    </div>
                    <a href="">Customers</a>
                    <a href="">Booking</a>
                    <a href="">My Appointments</a>
                  </div>
                  <div >
                    <p class="logo1"></p>
                    <h1 class="logo2"></h1>
                    <p class="logo3"></p>
                </div>
                </div>
              </div>
    </header>

    <br/>
    <hr>
    <br/>
    <div>
        <h3>Grooming</h3>
        <p>Pets-R-Us is happy to provide bathing services that will leave your pup looking and smelling their best. Bathing them on your own is often time-consuming, exhausting, messy, and stressful for both you and your four-legged family member. Rather than trying to do the job yourself after a long, tiring day, why not let us take care of it.</p> 
        <p>We offer a full menu of outstanding grooming services for the discerning type. Or just a shampoo and set. You decide, but know it will be completed with the utmost of care.</p>
            
        <div class="price-card">
        <h4>Pricing</h4>
        <ul>
                <li> Spa Packages: $35 - $54</li>
                <li> Nail Grind: $20</li>
                <li> Nail Trim: $12</li>
                <li> Face Trim: $10</li>
                <li> Ear Cleaning: $5</li>
                <li> Teeth Brushing: $5</li>
        </ul>
        </div>
        <br />
        <p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>
    </div>



    <footer>
    </footer>
</body>
</html>