<!-- 
======================================
; Title: Assignment 4.2 Pets-R-Us
; Author: Professor Kumar
; Date: April 4, 2023
; Modified By: Jennifer Hoitenga
; Description: Creating a website for Pets-R-Us
; Sources Used: 
; Bellevue University Web Dev GitHub: https://github.com/buwebdev/web-340/tree/master/week-4
; Node.js Setup using Express, HTML, CSS, JS & EJS: https://www.youtube.com/watch?v=A01KtJTv1oc
;=====================================
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 viewport-fit=cover">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Home</title>
</head>
<body>
    <!-- Calling the navigation bar -->
    <%- include('./partials/_navbar.ejs') %>

    <!-- Calling the header -->
    <%- include('./partials/_header.ejs') %>

    <br>
    <hr>
    <br>
    <div>
        <h3>About Us</h3>
        <h4>Leading the Way in Dog Boarding, Grooming, Training & More!</h4>
        <p>It’s important to get to know your pup care provider, as you are trusting us with a furry member of your family. With Pets-R-Us, you can rest assured your dog is in the best, most qualified hands in the business. Since 2010, we have been providing fun and dependable dog care services parents and pups love.
            
        <p>Three of our most common services are:</b></p>
            <ul>
                <li>
                    <b>Boarding</b> – If you’re going away for a single night or multiple weeks or you’re busy but don’t want your pup to feel alone, our boarding and day care services are available to help! We will provide your pup with all-day play and lots of attention from our certified staff.
                </li>
                <li>
                    <b>Grooming</b> - With dog grooming areas specially designed for your pup’s comfort, we can take this off your to-do list and having your pup looking their absolute best. We offer a full menu of outstanding grooming services as well as spa packages to pamper your pup.
                </li>
                <li>
                    <b>Training</b> - Regardless of age or experience, all dogs can benefit from learning. Whether your pup is starting out with the basics, you want to brush up on previously learned skills, or you’re ready to up the challenge with your pup, our training services can accommodate your needs.
                </li>
            </ul>
        <br>
        <p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>
    </div>
    <br>
    
    <hr>
    <br>
    <h3>Locations & Hours</h3>
    <div class="float-container">
        <div>
            <p><i class="fa-solid fa-shop"></i> Cooper Street
                <p>3531 Cooper</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid black; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><i class="fa-solid fa-shop"></i> Medill Street
                <p>1422 Medill</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid black; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><b>Monday - Friday:</b> 6am - 8pm</p>
            <p><b>Saturday:</b> 8am - 7pm</p>
            <p><b>Sunday:</b> 10am - 6pm</p>
        </div>
        <div>
            <p><i class="fa-solid fa-square-phone"></i> 1-888-867-PETS</p>
        </div>
    </div>
    <br>
    <hr>
    <br>
    

    <div>
    <div class="float-child2">
        <div class="card">
            <h4>Dog of the Week!</h4>
            <img src="images/olive.jpg" alt="Olive" style="width:50%; margin: auto; display: block;">
            <div class="container1">
                <h4><b>Olive</b></h4> 
              <p class="dog"><b>Age: </b>6 years old</p>
              <p class="dog"><b>Breed: </b>Shih-poo</p> 
              <p class="dog"><b>Favorite Activity: </b>Playing catch and taking car rides</p>
              <p class="dog"><b>Pals: </b>Georgia and Lenny</p>
            </div>
          </div>
    </div>

    <div class="float-child2">
        <h3>Testimonials</h3>
        <p class="testimonial">The staff is always friendly and helpful. My Doggo can't wait to get out of the car and play with his friends at daycare :) He loves the staff....<br> - Lavonne B.</p>
        <p class="testimonial">Grooming services excellent. Beth always treats my dog with care and gives him a fantastic cut and tooth brushing.<br> - Alejandro T.</p>
        <p class="testimonial">Lori and Susan are both amazing teachers! They are super welcoming and knowledgeable. Learned so much with my dog ❤️ would 100% recommend! <br> - Leroy J.</p>
        <p class="testimonial">A great place that always takes the best care of our dogs when we board them. <br> - Cindy D.</p>
        <p class="testimonial">You guys are awesome. Took Zola for all-day day care and she had a great time. She was so wore out that she slept forever! Thank you for taking good care of my baby! We will be back.<br>- Tony S.</p>
    </div>
</div>
    <br>
    <br>
    <br>
    <br>
    <hr>
    <br>
    <div>
        <h3>Contact Us</h3>
        <br>
        <div class="container3">
            <p>Please feel free to contact us with any questions and we will respond as quickly as possible.</p>
            <form>
              <label for="name">Enter your name: </label>
              <input type="text" id="name" name="name" required><br>
              
              <label for="contact">Enter your contact information: </label>
              <input type="text" id="contact" name="contact" required><br>
                  
              <label for="message">How can we help? </label>
              <textarea id="message" name="message" style="width:100%; height: 75px;" required></textarea><br>
          
              <input type="submit" value="Submit">
            </form>
          </div>
    </div>
    

    <!-- Calling the footer -->
    <%- include('./partials/_footer.ejs') %>

</body>
</html>