<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Home</title>
</head>
<body>

    <header>
        <nav>
            <div class="hero-image">
                <div class="container">
                  <div class="topnav">
                    <a href="#home">Home</a>
                    <div class="dropdown">
                        <button class="dropbtn">Services
                            <i class="fa fa-caret-down"></i>
                        </button>
                        <div class="dropdown-content">
                            <a href="#">Boarding</a>
                            <a href="/grooming">Grooming</a>
                            <a href="#">Training</a>
                        </div>
                    </div>
                    <a href="">Customers</a>
                    <a href="">Booking</a>
                    <a href="">My Appointments</a>
                  </div>
                  <div >
                    <p class="logo1">Welcome to</p>
                    <h1 class="logo2">Pets-R-Us</h1>
                    <p class="logo3">Where we love pets just as much as you do!</p>
                </div>
                </div>
              </div>
    </header>

    <br/>
    <hr>
    <br/>
    <div>
        <h3>About Us</h3>
        <h4>Leading the Way in Dog Grooming, Boarding, Daycare & More!</h4>
        <p>It’s important to get to know your pup care provider, as you are trusting us with a furry member of your family. With Pets-R-Us, you can rest assured your dog is in the best, most qualified hands in the business. Since 2010, we have been providing fun and dependable dog care services parents and pups love.
            
        <p>Three of our most common services are:</p>
            <ul>
                <li>
                    <b>Grooming</b> - With dog grooming areas specially designed for your pup’s comfort, we can take this off your to-do list.
                </li>
                <li>
                    <b>Day Care</b> – You’re busy but don’t want your pup to feel alone. We totally understand! That’s why we offer doggy day care, where your pup can run around with other dogs while cared for by our certified dog daycare counselors. We have spacious play areas for maximum fun.
                </li>
                <li>
                    <b>Boarding</b> – If you’re going away for a single night or multiple weeks, our boarding service treats dogs like family. We provide them all-day play, lots of attention from our staff, and a bedtime treat at night.
                </li>
            </ul>
        </p>
        <br />
        <p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>
    </div>
    <br />
    
    <hr>
    <br/>
    <h3>Locations & Hours</h3>
    <div class="float-container">
        <div>
            <p><i class="fa-solid fa-shop"></i> Cooper Street
                <p>3531 Cooper</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid #e8c97a; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><i class="fa-solid fa-shop"></i> Medill Street
                <p>1422 Medill</p>
                <p>Parkville, MO 64152</p>
        </div>
        <div style="border: 1px solid #e8c97a; border-radius: 5px; margin-top: 40px; height:75px"></div>
        <div>
            <p><b>Monday - Friday:</b> 6am - 8pm</p>
            <p><b>Saturday:</b> 8am - 7pm</p>
            <p><b>Sunday:</b> 10am - 6pm</p>
        </div>
    </div>
    <hr>
    <br/>

    <div>
    <div class="float-child2">
        <div class="card">
            <h3>Dog of the Week!</h3>
            <img src="images/olive.jpg" alt="Avatar" style="width:100%">
            <div class="container1">
                <h4><b>Olive</b></h4> 
              <p class="dog"><b>Age: </b>6 years old</p>
              <p class="dog"><b>Breed: </b>Shih-poo</p> 
              <p class="dog"><b>Favorite Activity: </b>Playing catch and taking car rides</p>
              <p class="dog"><b>Pals: </b>Georgia and Lenny</p>
            </div>
          </div>
    </div>

    <div class="float-child2">
        <h3>Testimonials</h3>
        <p class="testimonial">The staff is always friendly and helpful. My Doggo can't wait to get out of the car and play with his friends at daycare :) He loves the staff....<br /> - Lavonne B.</p>
        <p class="testimonial">Grooming services excellent. Beth always treats my dog with care and gives him a fantastic cut and tooth brushing.<br /> - Alejandro T.</p>
        <p class="testimonial">Lori and Susan are both amazing teachers! They are super welcoming and knowledgeable. Learned so much with my dog ❤️ would 100% recommend! <br /> - Leroy J.</p>
        <p class="testimonial">A great place that always takes the best care of our dogs when we board them. <br /> - Cindy D.</p>
        <p class="testimonial">You guys are awesome. Took Khaleesi for all day day care and she had a great time. She was so wore out that she slept forever! Thank you for taking good care of my baby! We will be back.<br />- Tony S.</p>
    </div>
</div>
    <br/>
    <hr>
    <br/>

    <div>
        <h3>Contact Us</h3>
        <br />
        <div class="container3">
            <p>Please feel free to contact us with any questions and we will respond as quickly as possible.</p>
            <form action="">
              <label for="name">Enter your name: </label>
              <input type="text" id="name" name="name"><br/>
              
              <label for="contact">Enter your contact information: </label>
              <input type="text" id="contact" name="contact"><br/>
                  
              <label for="message">How can we help? </label>
              <textarea id="message" name="message" style="width:100%; height: 75px;"></textarea><br/>
          
              <input type="submit" value="Submit">
            </form>
          </div>
    </div>

    <footer>
    </footer>
</body>
</html>