<!-- 
======================================
; Title: Assignment 6.2 Pets-R-Us
; Author: Professor Kumar
; Date: April 15, 2023
; Modified By: Jennifer Hoitenga
; Description: Creating a website for Pets-R-Us
; Sources Used: 
; Bellevue University Web Dev GitHub: https://github.com/buwebdev/web-340/tree/master/week-4
; Node.js Setup using Express, HTML, CSS, JS & EJS: https://www.youtube.com/watch?v=A01KtJTv1oc
;=====================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Registration</title>
</head>
<body>
  <a id="top"></a>
      <!-- Calling the navigation bar -->
      <%- include('./partials/_navbar.ejs') %>

    <div>
      <h3>New Customer Registration</h3>
      <br>
      <hr> 
      <br>
    </div>

    <div class="price-card">
        <p>Please fill out the required fields below to register.</p>
        <br>
        <form action="/registrations" method="post">
          <label for="customerId">Customer ID: </label>
          <input type="text" id="customerId" name="customerId" autofocus required><br>
          <br>
          <label for="firstName">First Name: </label>
          <input type="text" id="firstName" name="firstName" required><br>
          <br>
          <label for="lastName">Last Name: </label>
          <input type="text" id="lastName" name="lastName" required><br>
          <br>
          <label for="streetAddress">Street Address: </label>
          <input type="text" id="streetAddress" name="streetAddress" required><br>
          <br>
          <label for="city">City: </label>
          <input type="text" id="city" name="city" required><br>
          <br>
          <label id="state">State:</label><br>
          <input type="radio" id="kansas" name="state" value="Kansas" required>
          <label for="kansas">Kansas</label><br>
          <input type="radio" id="missouri" name="state" value="Missouri">
          <label for="missouri">Missouri</label><br>
          <br>
          <label for="zipCode">Zip Code: </label>
          <input type="text" id="zipCode" name="zipCode" required><br>
          <br>
          <label for="email">Email Address: </label>
          <input type="email" id="email" name="email" required><br>
          <br>
          <input type="checkbox" id="agree" name="agree" value="Agree">
          <label for="agree"> Join Pets-R-Us' mailing list to receive coupons, event invitations, special online deals, content, and more.</label><br>
          <br>
          <input type="submit" value="REGISTER">

          <a href="/" class="btnCancel">CANCEL</a>
        
        </form>
        
      </div>
      <div class="back-to-top" style="display:block"><a href="#top"><i class="fa-regular fa-circle-up"></i></a>
    </div>
      <br>
<p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>


<!-- Calling the footer -->
<%- include('./partials/_footer.ejs') %>
        
</body>
</html>