<!-- 
======================================
; Title: Assignment 6.2 Pets-R-Us
; Author: Professor Kumar
; Date: April 15, 2023
; Modified By: Jennifer Hoitenga
; Description: Creating a website for Pets-R-Us
; Sources Used: 
; Bellevue University Web Dev GitHub: https://github.com/buwebdev/web-340/tree/master/week-4
; Node.js Setup using Express, HTML, CSS, JS & EJS: https://www.youtube.com/watch?v=A01KtJTv1oc
;=====================================
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="styles/site.css" type="text/css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <title>Pets-R-Us: Boarding</title>
</head>
<body>
    <div>
      <h3>Pets-R-Us</h3>  
      <h3>New Customer Registration</h3>
    </div>

    <div class="price-card">
        <p>Please fill out the required fields below to register.</p>
        <form>
          <label for="customerId">Enter your Customer ID: </label>
          <input type="text" id="customerId" name="customerId"><br>
          
          <label for="email">Enter your Email Address: </label>
          <input type="input" id="email" name="email">

          <input type="submit" value="REGISTER">

          <a href="/" class="btnCancel">CANCEL</a>
        
        </form>
      </div>
<br>
<p class="motto">There is no limit to what we will do for pets because we know that pets will do anything for us too!</p>
        
<!-- Calling the footer -->
<%- include('./partials/_footer.ejs') %>
        
</body>
</html>